@model r710_fan_control.Models.Fan

<!DOCTYPE html>

<html>
<head>
    <title>Fan</title>
    <script src="~/Scripts/jquery-3.6.0.slim.min.js"></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Speed)<br />
        @*@Html.EditorFor(model => model.Speed)*@
        <input type="range" min="0" max="100" name="Speed" value="@Html.ValueFor(model => model.Speed)" />
        <button type="submit">Submit</button>
    }
    @using (Html.BeginForm("FanAuto", "Home"))
    {
        <button type="submit">Auto</button>
    }
    <script>
        $('[name="Speed"]').on('input', function () {
            $(this).attr('value', $(this).val());
        });
    </script>
</body>
</html>
