@*@model r710_fan_control.ViewModels.HomeIndexVM*@

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div id="temperatures">
        @*@foreach (var temperature in Model.Temperatures)
        {
            @temperature.Display<br />
        }*@
    </div>
    <div id="fanSpeeds">
        @*@foreach (var sensor in Model.FanSpeeds)
        {
            @sensor.Reading<br />
        }*@
    </div>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var hub = $.connection.statsHub;            

            hub.client.updateTemperatures = function (temperatures) {
                console.log(temperatures);
                $('#temperatures').empty();
                $(temperatures.Result).each(function (index, temperature) {
                    $('#temperatures').append(`${temperature.Display}<br />`);
                });
            };

            hub.client.updateFanSpeeds = function (fanSpeeds) {
                console.log('here');
                console.log(fanSpeeds);
                $('#fanSpeeds').empty();
                $(fanSpeeds).each(function (index, fanSpeed) {
                    $('#fanSpeeds').append(`${fanSpeed.Reading}<br />`);
                });
            };

            hub.client.test = function () {
                console.log('test');
            }

            $.connection.hub.logging = true;
            $.connection.hub.start().done();
        });
    </script>
</body>
</html>
